[submodule "external/Glm"]
	path = external/Glm
	url = https://github.com/g-truc/glm
	ignore = dirty
[submodule "external/Assimp"]
	path = external/Assimp
	url = https://github.com/assimp/assimp
	ignore = dirty
[submodule "external/Stb"]
	path = external/Stb
	url = https://github.com/nothings/stb
	ignore = dirty
[submodule "external/Json"]
	path = external/Json
	url = https://github.com/nlohmann/json
	ignore = dirty
