[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm
	ignore = dirty
[submodule "external/assimp"]
	path = external/assimp
	url = https://github.com/assimp/assimp
	ignore = dirty
[submodule "external/stb"]
	path = external/stb
	url = https://github.com/nothings/stb
	ignore = dirty
